#customRange3 {
  width: 160%;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap");

body {
  /* background-image: linear-gradient(to bottom right, #fc354c, #0abfbc); */
  /* background-image: linear-gradient(to bottom right, #dae2f8, #d6a4a4); */
  /* background-image: linear-gradient(to bottom right, #ed4264, #ffedbc); */
  /* background-image: linear-gradient(to bottom right, #dc2424, #4a569d); */
  /* background-image: linear-gradient(to bottom right, #134e5e, #71b280); */
  /* background-image: linear-gradient(to bottom right, #16a085, #f4d03f); */
  /* background-image: linear-gradient(to bottom right, #034a55, #8ecdff); */
  /* background-color: #598ec2; */
  /* background-image: linear-gradient(to bottom right, #013780, #68abe6); */
  /* background-image: linear-gradient(to bottom right, #013780, #68abe6, #013780); */
  /* background-image: linear-gradient(to bottom right, #c8d8ef, #e9eff8, #c8d8ef);
  height: auto;
  width: auto; */
  /* background-image: url("../images/coding.gif"); */
  /* background-color: black; */
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.coin {
  animation: neon 5s infinite;
  color: white;
}
@keyframes neon {
  0%,
  39%,
  41%,
  59%,
  61%,
  100% {
    shadow: white 0 0 12px, #ff3aad 0 0 24px, #ff3aad 0 0 36px;
  }
  40%,
  60% {
    shadow: none;
  }
}
.coin {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.event-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.up-pic {
  max-width: 60%;
  object-fit: cover;
  display: block;
}
