/* body {
  background-image: url("../images/homebg.png");
} */
.graphic {
  height: 100%;
  width: 100%;
}
.sub-text {
  text-align: justify;
}
.btn {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 26px;
}
