/* background: -webkit-linear-gradient(
    to right,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1) */

.main {
  margin-top: 6rem;
}

.carousel-inner {
  width: 20rem;
  padding: auto;
  margin: auto;
  text-align: center;
}

.card {
  max-width: 34rem;
}

.pic {
  /* height: 11.6rem; */
  /* width: 21.9rem; */
  height: 100%;
  width: 100%;
  image-rendering: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.btngap {
  margin-left: 5rem;
}
