.App {
  text-align: center;
  /* background-color: #282c34; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.required:after {
  content: " *";
  font-size: 1.1rem;
  color: rgb(184, 4, 4);
}

.required1:before {
  content: "* ";
  font-size: 1.3rem;
  color: rgb(184, 4, 4);
}
.qfont {
  /* font-family: sans-serif; */
  /* font-family: open-sans; */
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 1.1rem;
}

.radfont {
  color: white;
}

.disclaimer {
  color: #000;
}

.head {
  color: #97e2ff;
  width: 100%;
  margin: auto;
  /* background-image: url(./components/images/bg.png); */
  background-size: cover;
}
.container1 {
  width: 100%;
  margin-left: 0;
  margin-right: 0rem;
  padding-left: 0;
  padding-right: 0;
}
.container {
  width: auto;
}

form {
  width: 90%;
}
h1 {
  font-size: 3.5rem;
  color: #ff6b44;
  font-family: montserrat;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lottie {
  height: fit-content;
  width: fit-content;
}
